[submodule "vendor/libcalib"]
	path = vendor/libcalib
	url = git@github.com:bruceoberg/libcalib.git
[submodule "vendor/image2wx"]
	path = vendor/image2wx
	url = git@github.com:bruceoberg/image2wx.git
[submodule "vendor/Fusion"]
	path = vendor/Fusion
	url = git@github.com:xioTechnologies/Fusion.git
